<div class="Color">
    <h1 style="text-align:justify;margin: 30px;;">Smile.Care Clinic</h1>



<ul>
    
    <li><a href="home"></a>Home</li>
    <li><a href="Appointment"></a>Appointment</li>
    <li><a href="Services"></a>Services</li>
    <li><a href="About us"></a>About Us</li>
</ul>
</div>

<div class="image">
    <div class="h-30 d-inline-block" style="width:30%;margin: 60px;">

        <h5>Best Dentist</h5>
        <P>A dentist, also known as a dental surgeon, is a health care professional
             who specializes in dentistry. The dentist's supporting team aids in 
             providing oral health services.The dental team includes dental assistants, 
             dental hygienists, dental technicians, and sometimes dental therapists</P></div>
    
              <a href="https://www.broadwaydentalonline.com/" class="btn btn-primary">BOOK ONLINE</a>
           
    
        
</div>


<nav>
    

<!-- <img src="assets/dentist1.jpg" alt="Smile" width="100%"> -->

</nav>


