




<div class="row">
  <div class="col-sm-4">
    <div class="card text-white bg-info mb-3">
      <div class="card-body">
        <h5 class="card-title">Accept Insurance</h5>
        <p class="card-text">Because of the expense of our advanced procedures, 
          it’s important to understand which insurances our clinic accepts and 
          the payment options we provide for our patients.</p>
        <a href="#" class="btn btn-primary">Insurance</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-white bg-warning mb-3">
      <div class="card-body">
        <h5 class="card-title">Personlized Care</h5>
        <p class="card-text">Because of the expense of our advanced procedures, 
          it’s important to understand which insurances our clinic accepts and 
          the payment options we provide for our patients.</p>
        <a href="#" class="btn btn-primary">Care</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-white bg-dark mb-3">
      <div class="card-body">
        <h5 class="card-title">Services</h5>
        <p class="card-text">Cosmetic dentistry is the name for the procedures 
          that focus on the look of your smile. It cour clinic accepts and 
          the payment options we provide for our patients.</p>
        <a href="#" class="btn btn-primary">Best Services</a>
      </div>
    </div>
  </div>
</div>


<img src="assets/dentist-2.png" alt="Avatar" class="avatar">
<img src="assets/dentist-3.png" alt="Avatar" class="avatar">
<img src="assets/dentist-4.png" alt="Avatar" class="avatar">





